# Managed with Ansible

export XDG_DATA_HOME="{{ xdg_env['XDG_DATA_HOME'] }}"
export XDG_CONFIG_HOME="{{ xdg_env['XDG_CONFIG_HOME'] }}"
export XDG_DATA_DIRS="{{ xdg_env['XDG_DATA_DIRS'] }}"
export XDG_CONFIG_DIRS="{{ xdg_env['XDG_CONFIG_DIRS'] }}"
export XDG_CACHE_HOME="{{ xdg_env['XDG_CACHE_HOME'] }}"
